<div class="container-fluid"> <!--AGREGAR SOMBRA-->
<div class="card ancho mx-auto">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="float-left">Nombre</div> 
            </div>
            <div class="col-3">
                <div class="margenDerecha">Precio</div> 
            </div>
            <div class="col-3">
                <div class="">Criptomoneda</div> 
            </div>
            <div class="col-3">
                <div class="float-right">Convertir</div> 
            </div>
        </div>
     
    </div>
  </div>
</div>

<!--NGFOR-->
<div class="container-fluid" infiniteScroll [infiniteScrollDistance]="4"  (scrolled)="onScroll()">
    <div class="card ancho mx-auto margenTop" *ngFor="let item of assets.slice(0,limite)">
       

       
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="float-left">{{item.name}}</div> 
                </div>
                <div class="col-3">
                    <div class="precio">{{item.price}}</div> 
                </div>
                <div class="col-3">
                    <div class="cryptoText"><span class="dot"></span> SI</div> 
                </div>
                <div class="col-3">
                    <div class="float-right"><img class="suffle" src="assets/shuffle.png"></div> 
                </div>
            </div>
        </div>
         
        
      </div>
    </div>