<div class="container fondo">


    <div class="row box">
    
    <div class="col-xl-12 text-center">
        <div class="row">

       
        <div class="container contenedorBox">
        <div class="card">
          <div class="card-header">
           
            <ul class="nav ">
              
                 
                <div class="col-6">
                    <li class="nav-item ">
                        <a class="nav-link" id="option1" href="#1" (click)="click(1)">REALIZAR CAMBIO</a>
                         <div class="lineL"></div> 
                      </li>
                    </div>
                    <div class="col-6">

                
                      <li class="nav-item">
                        <a class="nav-link" id="option2" href="#2" (click)="click(2)">LISTADO DE MONEDAS</a>
                         <div class="lineR"></div>
                      </li>
                    </div>
           
            
            </ul>
    
          </div>

    
         
          <div class="card-body">
            TEST
            <router-outlet></router-outlet>
          </div>
        </div>
        </div>
    </div>
    </div>
    
    
    </div>
    
    
    
    
    
    
    
    
    </div>
